*{
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table td {
    padding: 5px 10px;
}

tbody tr {
    border: 1px solid;
    border-width: 1px 0;
}

table th {
    padding: 5px 10px;
}

a{
    text-decoration: none;
    color: #333333;
}

ul{
    list-style: none;
}

input[type="checkbox"]{
    display: none;
}