@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.content {
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  justify-content: inherit;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #e0e0e0;
}

.header .logo {
  margin-left: 13vw;
  height: 37px;
}

.header span {
  margin-left: 20px;
  font-size: 1.25rem;
}

.header__links {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 13vw;
  background-color: white;
  padding: 5px;
  color: #979797;
}

.header__links a {
  margin: 5px;
  color: #333333;
}

.header__links button {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #333333;
  border: 0;
  background-color: #ffff;
  cursor: pointer;
}

.container {
  max-width: 996px;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 0 auto;
  flex-flow: row wrap;
  margin-top: 30px;
}

.box {
  max-width: 400px;
  max-height: 377px;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px 15px;
  flex-grow: 2;
}

.box select,
.box input,
.box button {
  height: 32px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5%;
}

.box p {
  font-size: 0.875em;
  margin-bottom: 2%;
}

.box h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.box button {
  background-color: #333333;
  color: white;
}

.statement {
  flex-grow: 3;
}

.statement h3{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.statement td{
  text-align: center;
}

.div__links{
  display: none;
}

.nav__links{
  display: none;
}

@media(max-width: 768px) {
  .header__links {
    display: none;
  }

  .div__links{
    display: block;
  }

  .nav__links{
    display: none;
    position: fixed;
    background-color: #333333;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
  }

  .nav__links .close{
    height: 16px;
    padding: 20px;
  }

  .nav__links a{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 20px;
  }

  .nav__links button{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    border: 0;
    background-color: #333333;
    margin-left: 42%;
    color: white;
    padding: 20px;
  }

  .nav__links a:hover{
    background-color: #C4C4C4;
    color: #333333;
  }

  .div__links input[type="checkbox"]:checked ~ nav{
    display: block;
  }

  .nav__links input[type="checkbox"]:empty ~ nav{
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .header .logo {
    margin-left: 20px;
  }

  .header span {
    margin-left: 0;
  }

  .div__links label {
    margin-right: 20px;
  }

  .container{
    display: block;
  }

  .box {
    max-width:90%;
    max-height: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
  }

  .statement {
    max-width: 90%;
    margin-left: 5%;
  } 
}
